<h1 align="center">Administrar Conductores</h1>

<div class="col-lg-12" align="center">
    <h3 class="col-lg-12">¿desea dar de alta a un CONDUCTOR?</h3>
    <div class="col-lg-5"></div>
    <button type="button" class="btn btn-warning col-lg-2" href="#contenedor_ventana_flotante" data-toggle="modal"> Alta</button>
</div>
<div class="col-lg-1"></div>
<div class="col-lg-10 col-md-10 col-xs-12" align="center">
    <table class="table table-hover" align="center">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Estado</th>
            <th>Foto perfil</th>
            <th>Modificar</th>
            <th>Baja</th>
        </tr>
        <!-- START BLOCK : body -->
        <tr>
            <td>{id_c}</td>
            <td>{nombre}</td>
            <td>{apellido}</td>
            <td>{telefono}</td>
            <td>{correo}</td>
            <td>{estado}</td>
            <td>{foto_perfil}</td>
            <td>
                <form method="post" action="index.php?action=Modificar::modificarConductor">
                    <input value="{id_c}" type="hidden" name="id_c">
                    <button type="submit" class="btn btn-warning">Modificar</button>
                </form>
            </td>
            <td>
                <form method="post" action="#">
                    <input value="{id_c}" type="hidden" name="id_viaje">
                    <button type="submit" class="btn btn-warning">Baja</button>
                </form>
            </td>
        </tr>
        <!-- END BLOCK : body -->
    </table>
    <br>
    <div class="col-lg-12" align="center">
        <div class="col-lg-4"></div>
        <form action="index.php" method="post">
            <button type="submit" class="btn btn-primary col-lg-4">Regresar a la pagina del Administrador</button>
        </form>
    </div>
</div>



<!-- ventana flotante-->
<div id="contenedor_ventana_flotante" class="modal fade">
    <div class="modal-dialog">
        <!-- contenedor de la ventana flotante -->
        <div class="modal-content">
            <!-- cabeza de la ventana -->
            <div class="modal-header">
                <!-- boton cerrar cruz -->
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <!-- titulo - ventana flotante -->
                <h3 class="modal-title">Registrar Conductor</h3>
            </div>
            <!-- formulario -->
            <form name="formulario" id="formulario"  action="index.php?action=Login::registrarConductor" method="POST" >

                <!-- ventana contenido -->
                <div class="modal-body">
                    <label>Nombre</label><input type="text" id="nombre_con" name="nombre_con" class="form-control" placeholder="Nombre" required><br>
                    <label>Apellido</label><input type="text" id="apellido_con" name="apellido_con" class="form-control" placeholder="Apellido" required><br>
                    <label>Telefono</label><input type="number" id="telefono_con" name="telefono_con" class="form-control" placeholder="Contrase&ntilde;a" required><br>
                    <label>Correo</label><input type="email" id="correo_perfil" name="correo_con"  class="form-control" placeholder="ejemplo@dominio" required><br>
                </div>
                <div>
                    <input id="foto_con" name="foto_con" accept="image/*" type="file" class="file-loading">
                </div>
                <!-- footer de la ventana -->
                <!-- START BLOCK : notReg -->
                {mensaje}
                <!-- END BLOCK : notReg -->
                <div class="row modal-footer">
                    <button type="reset" class="btn btn-default" data-dismiss="modal"  > Cerrar</button>
                    <button type="submit" class="btn btn-primary"> Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

