<h1 align="center">Administrar Conductores</h1>
<div class="col-xs-offset-1"></div>
<div class="col-lg-11" align="center">
    <h3>¿desea dar de alta a un CONDUCTOR?</h3>
    <button type="button" class="btn btn-warning">Alta</button>
</div>
<div class="col-xs-offset-1"></div>
<div class="col-lg-11">
    <table>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Estado</th>
            <th>Foto perfil</th>
            <th>Modificar</th>
            <th>Baja</th>
        </tr>
        <!-- START BLOCK : body -->
        <tr>
            <td>{id_c}</td>
            <td>{nombre}</td>
            <td>{apellido}</td>
            <td>{telefono}</td>
            <td>{correo}</td>
            <td>{estado}</td>
            <td>{foto_perfil}</td>
            <td>
                <form method="post" action="#">
                    <input value="{id_c}" type="hidden" name="id_viaje">
                    <button type="submit" class="btn btn-warning">Modificar</button>
                </form>
            </td>
            <td>
                <form method="post" action="#">
                    <input value="{id_c}" type="hidden" name="id_viaje">
                    <button type="submit" class="btn btn-warning">Baja</button>
                </form>
            </td>
        </tr>
        <!-- END BLOCK : body -->
    </table>
</div>
