
<h1 align="center"><b>Bienvenido Administrador</b></h1>
<!-- Cuerpo -->
<section id="cuerpo">
    <div class="row margen ">
        <div class="col-lg-1 col-md-2"></div>
        <div class="col-lg-5 col-md-10 col-sm-12 col-xs-12 ">
            <!--CONTENIDO-->

            <div id="administrador.usuario" class="col-lg-11 contenedor-per" align="center">
                <!--usuario-->
                <h3 align="center"> ADMINISTRACION DE USUARIOS</h3>
                <!--div id="usuario.boton.modificar" class="col-lg-12">
                    <button type="button" class="btn btn-success">Alta</button>
                    <button type="button" class="btn btn-success">Modificar</button>
                </div-->
                <div id="usurio.boton.ver" class="col-lg-12">
                    <button type="button" class="btn btn-success" href="">Ver Usuarios Registrados</button>
                </div>
            </div>
        </div>


        <div class="col-lg-5 col-md-10 col-sm-12 col-xs-12 ">
            <div id="administrador.viaje" class="col-lg-11 contenedor-per " align="center">
                <!--viajes-->
                <h3 align="center"> ADMINISTRACION DE VIAJES</h3>
                <!--div>
                    <!--div class="col-lg-12" id="viaje.boton">
                        <button type="button" class="btn btn-info">Alta</button>
                        <button type="button" class="btn btn-info">Baja</button>
                        <button type="button" class="btn btn-info">Modificar</button>
                    </div>

                </div-->
                <div class="col-lg-12" id="viaje.boton.ver">
                    <br>
                    <button type="button" class="btn btn-info" href="">Ver Viajes</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Cuerpo -->
<section>
    <div class="row margen ">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-5 col-md-10 col-sm-12 col-xs-12 ">
            <div id="administrador.conductor" class="col-lg-11 contenedor-per " align="center">
                <!--viajes-->
                <h3 align="center"> ADMINISTRACION DE CONDUCTORES</h3>
                <!--div>
                    <div class="col-lg-12" id="conductor.boton">
                        <button type="button" class="btn btn-warning">Alta</button>
                        <button type="button" class="btn btn-warning">Baja</button>
                        <button type="button" class="btn btn-warning">Modificar</button>
                    </div>

                </div-->
                <div class="col-lg-12" id="conductor.boton.ver">
                    <button type="button" class="btn btn-warning" href="">Ver Conductores</button>
                </div>
            </div>
        </div>

        <div class="col-lg-5 col-md-10 col-sm-12 col-xs-12 ">
            <div id="administrador.combi" class="col-lg-11 contenedor-per " align="center">
                <!--viajes-->
                <h3 align="center"> ADMINISTRACION DE COMBI'S</h3>
                <!--div>
                    <div class="col-lg-12" id="combi.boton">
                        <button type="button" class="btn btn-danger">Alta</button>
                        <button type="button" class="btn btn-danger">Baja</button>
                        <button type="button" class="btn btn-danger">Modificar</button>
                    </div>

                </div-->
                <div class="col-lg-12" id="combi.boton.ver">
                    <button type="button" class="btn btn-danger" href="">Ver Combi's</button>
                </div>
            </div>
        </div>
    </div>
</section>

