<!-- Cabecera -->
<div class="row margen">
    <div class="col-lg-1 col-md-1 eliminar">
    </div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 contenedor-per">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <div class="centrado">
                <img src="../../recursos/imagen/Dj-Mouse-1920x1200.jpg" class="img-perfil centrado" alt="foto de perfil">
                <input id="input-7-xs" class="rating rating-loading" value="0" data-min="0" data-max="5" data-step="0.5" data-size="xs" data-show-clear="false" data-show-caption="false">
            </div>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
            <h1 class="text-centrado">Dario Exequiel Flores</h1>
            <h1 class=" text-centrado">Usuario</h1>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
            <h4 class="text-centrado">Descripcion-Descripcion-Descripcion-Descripcion-Descripcion-Descripcion-Descripcion-
                Descripcion-Descripcion-Descripcion-Descripcion-Descripcion-Descripcion-Descripcion-Descripcion-Descripcion-Descripcion-Descripcion- Descripci</h4>
        </div>
        <div class="col-xs-12 text-centrado">
            <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#editarperfil">Editar Perfil</button>
        </div>
    </div>
</div>

<!-- Modal Editar Perfil-->
<div class="modal fade" id="editarperfil" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Editar Perfil</h2>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="nombre" class="control-label">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" onchange="validar_texto(this)" placeholder="Nombre Aquí">
                </div>
                <div class="form-group" >
                    <label for="apellido" class="control-label">Apellido:</label>
                    <input type="text" class="form-control" id="apellido" onchange="validar_texto(this)" placeholder="Apellido Aquí">
                </div>
                <div id="contenedor_email" class="form-group">
                    <label for="email" class="control-label">E-mail:</label>
                    <input type="email" class="form-control" id="email" onchange="validar_email()" placeholder="ejemplo@example.com">
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción:</label>
                    <textarea class="form-control" rows="3" maxlength="250" id="descripcion"></textarea>
                </div>

                <div class="form-group">
                    <label>Foto de Perfil:</label>
                    <input id="foto" name="imagen[]" accept="image/*" type="file" class="file">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>

    </div>
</div>
<!-- Fin Modal -->
