<ul class="list-group">
                        <!-- START BLOCK : LF -->
    <li class="list-group-item">
        <button type="button" class="close">&times;</button>
        <h4 class="list-group-item-heading">
            {EtiquetaLF}
        </h4>
        <small class="list-group-item-text">
            {direccion}
        </small>
    </li>
                        <!-- END BLOCK : LF -->
                        <!-- START BLOCK : noLF -->
    <li class="list-group-item">
        <h3 class = "list-group-item-heading">
            Ups! Usted No Tiene Lugares Favoritos.
        </h3>
    </li>
                        <!-- END BLOCK : noLF -->
</ul>