

<header id="page-top">
    <div class="container" id="hola">
        <div class="row">
            <div class="col-lg-12">
            <!-- Contenedor de la pag estatic -->
                <div class="intro-text col-12">
                    <span class="name">|| ViajaRe YA ||</span>
                    <hr class="star-light">
                    <p class="skills">La mejor pagina para reservar <b>VIAJES</b> en toda la Provincia de Catamarca ya esta aqui!!</p>
                    <p class="skills">¡<b>REGISTRATE</b> para acceder a todos l tenemos un sistema deos beneficios que tenemos para que tu viaje sea el mejor!</p>
            </div>
            </div>
        </div>
    </div>
</header>
  <!-- Pedilo yaaaaaa -->
<div  class="content-wrapper">
    <section class="primary" id="Pedilo" >
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>|| RECUERDA ||</h2>
                    <hr class="star-primary">
                    <h3>loguearte para poder gestionar tu pedido de una forma <b>RAPIDA</b> y <b>EFICAZ</b></h3>
                </div>
            </div>
        </div>
    </section>
      <!-- fin de pedilo ya -->
      <!-- login -->
    <section class="success" id="log-in">
        <div class="container">
            <div class="row">
                <div class="col-8 col-lg-8 col-md-4 col-xs-5 col-offset-1 text-center">
                <!-- col-lg-10 pantalla grande col-md-10 mediana col-sm-12 small col-xs-12 super small -->
                    <h2>LOG-IN</h2>
                    <hr class="star-light">
                    <h3>¿Ya tenes usuario?</h3>
                    <h3>¿Que esperas para acceder y solicitar tu pedido?</h3>
                </div>
                
                 <!-- loguin -->  
                <div id="aparece" class="col-4 col-lg-4 col-md-8 col-xs-7 login bordes_2der sombreado" align="center" >
                    <form class="form-horizontal" role="form" action="index.php?action=Login::iniciarSesion" method="post">
                            <div> <label id="login">Ingresa tu Cuenta</label></div>
                                      <!-- contenedor usuario -->
                            <div class="form-group login__row">
                                            <svg class="login__icon name svg-icon" viewBox="0 0 20 20" for="usuario">
                                                <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
                                            </svg>
                                            <input type="text" name="usuario_loguin" id="usuario_loguin" class="login__input name" placeholder="Usuario"/>
                            </div>
                                         <!-- contenedor contraseña -->               
                            <div class="form-group login__row">
                                            <svg class="login__icon pass svg-icon" viewBox="0 0 20 20" for="contraseña">
                                                      <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
                                            </svg>
                                            <input type="password" id="pass_loguin" name="pass_loguin" class="login__input pass" placeholder="Contrase&ntilde;a"/>

                            </div>
                        <!-- START BLOCK : notLog -->
                        {mensaje}
                        <!-- END BLOCK : notLog -->
                                        <!-- contenedor boton -->
                            <div class="form-group" align="center">
                                          <div> 
                                                <button type="submit" id="submit" name="submit" class="login__submit">Entrar</button>
                                          </div>
                            </div>
                                      <!-- contenedor formulario -->
                            <div class="form-group"> <p class="login__signup">No tienes una cuenta? &nbsp;<a href="#Registro">Registrar</a></p></div>
                        </form>                     
                    </div>
                            <!-- contenedor margen derecho -->
                
            
            <!-- fin loguin --> 
            </div>         
        </div>
    </section>
    <!-- fin de login -->
    <!-- Registro --> 
    <section class="primary" id="Registro">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Registro</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-header">                        
                        <!-- titulo - Registro -->
                        <h3 class="modal-title" align="center">Registrate, y accede a todos los beneficios. </h3>
                    </div>
                    <form name="formulario" id="formulario" novalidate="" action="index.php?action=Login::registrarUsuario" method="post" >
                        
                    <!-- ventana contenido -->
                    <div class="modal-body">
                        <label>Nombre</label><input type="text" id="nombre_perfil" name="nombre_perfil" class="form-control" placeholder="Nombre" required><br>
                        <label>Apellido</label><input type="text" id="apellido_perfil" name="apellido_perfil" class="form-control" placeholder="Apellido" required><br>
                        <label>Nombre de Usuario</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">@</span>
                            <input type="text" class="form-control" id="usuario_perfil" name="usuario_perfil" placeholder="Username" aria-describedby="basic-addon1" required>
                        </div>
                        <label>Contraseña</label><input type="password" id="pass_perfil" name="pass_perfil" class="form-control" placeholder="Contrase&ntilde;a" required><br>
                        <label>Confirmar Contrase&ntilde;a</label><input type="password" id="pass2_perfil" name="pass2_perfil" class="form-control" placeholder="Confirmar Contrase&ntilde;a" required><br>
                        <label>Correo</label><input type="email" id="correo_perfil" name="correo_perfil"  class="form-control" placeholder="ejemplo@dominio" required><br>
                    </div>
                    <div>
                        <!--<input id="foto_perfil" name="foto_perfil" accept="image/*" type="file" class="file-loading"> -->
                    </div>
                    <!-- footer de la ventana -->
                        <!-- START BLOCK : notReg -->
                        {mensaje}
                        <!-- END BLOCK : notReg -->
                    <div class="row modal-footer">
                        <button type="reset" class="btn btn-default" data-dismiss="modal"> Borrar Campos</button>
                        <button type="submit" class="btn btn-primary"> Registrar</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </section>  
    <!-- fin de registro -->
    <!-- sobren nostros -->
    <section class="success" id="Sobre">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Sobre Nosotros</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <p>El objetivo principal del desarrollo de la presente aplicación es, no solamente cumplir con los requisitos del trabajo de laboratorio de la catedra de “programación III” de la facultad de “Tecnología y Ciencias aplicadas”, sino también ayudar a mejorar el servicio de taxis y remises en la ciudad de San Fernando del Valle de Catamarca (provincia de Catamarca). </p>
                </div>
                <div class="col-lg-4">
                    <p>Con esta Aplicación web ofrecemos una nueva forma de acceder al servicio a través de la web, pudiendo gestionar un viaje prescindiendo de la tipica “llamada de teléfono”; brindando a los usuarios registrados la posibilidad de poder pagar el viaje con tarjeta de crédito, generando un comprobante con un código único, al presentarlo, este podra subir al movil y tan solo disfrutar el viaje.</p>
                </div>
                <div class="col-lg-4">
                    <p><b>“ViajaRe YA”</b> está diseñada para favorecer a las empresas de la ciudad, pues cada una de ellas puede decidir ingresar al sistema, donde ofreceremos un registro total de conductores, móviles y viajes realizados en tiempo real, donde podrán responder a cada pedido de parte de los pasajeros. Incluso cada conductor que se agregue al Sistema, tendrá su propio perfil de usuario para que el mismo tenga un registro de sus viajes y ganancias.</p>
                </div>
            </div>
            <div class="row" align="center">
                <h2>Desarrolladores</h2>
                <hr class="star-light">
                <p> Diaz, Lucas Agustin <br> Flores, Dario Exequiel</p>
            </div>
        </div>
    </section>
    <!-- fin de Sobre nosotros -->
    <!-- Contacto -->
    <section class="primary" id="Contenedor.contacto">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Solicitud de Chofer</h2>
                    <hr class="star-primary">
                    <h3></h3>
                    <form align="center">
                        <div class="" id="Contacto" align="center">
                            <div class="modal-body">
                                <label>Nombre Empresa</label><input type="text" class="form-control" placeholder="Nombre"><br>
                                <label>¿Porque te interesa darte de alta?</label> <textarea class="form-control" rows="4" placeholder="Cuentanos una breve descripcion de su empresa"></textarea>
                                <label>Correo de contacto</label> <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ejemplo@org.dominio">
                                <label>Telefono de contacto</label><input type="number" class="form-control" id="num_contacto" aria-describedby="emailHelp" placeholder="0383-15******">
                                <div class="row modal-footer">
                                    <button type="reset" class="btn btn-default" data-dismiss="modal"> Borrar Campos</button>
                                    <button type="submit" class="btn btn-primary"> Enviar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
      <!-- fin de contacto -->
</div>

